		<!-- ------------BEGIN style for div class------------- -->
		
		.subHeading{
			font-family: "Times New Roman", Times, serif;
		}
		
		.aboutMe{
			font-family: "Times New Roman", Times, serif;
		}
		
		.headers{
			font-family: Arial, Helvetica, sans-serif;
		}

		.educationTable{
		<!--border-collapse: separate; -->
		border-spacing: 30px 0;
		
		}
		
		.workExp{
		border-collapse: separate;
		border-spacing: 0px 0;
		
		}
		

		.jobs {
            font-weight: bold;
            font-size: 16px;
            margin: 10px;
            padding: 2px;
            color: #34282C;
        }
		
		img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		
		}
		
		<!-- -------------END style for div class----------------- --> 
		
		<!-- -------------BEGIN style for ids---------------------- -->		
		
		#name {
			font-style: italic;
			color: #EE9A4D; <!-- Brown Sand Orange --> 	
		}
		
		#social {
		display:flex;
		justify-content: center;
		}
		
		
		#coursework{
			color: orange;
		}
		
		#education{
			color: orange;
		}
		
		#workExperience{
			color: orange;
			
		}
		
		#AboutMe{
			color: orange;
		}
		
		#technicalSkill{
			color:orange;
		}
		
		#projects{
			color:orange;
		}
		
		<!-- -------------END style for ids---------------------- -->	